@model Product

@{
    ViewData["Title"] = "Products";
}

<div>
    <h3>Getting Product</h3>

    <form class="getting-form" asp-action="Get" method="post">
        <label>Product Id:</label>
        <input class="input-props" type="text" name="id"/>
        <br />
        <div class="action-btn-container">
            <button class="action-btn" type="submit">Get</button>
            <a class="back-btn" href="/Home/Index">Back</a>
        </div>
    </form>  

    @if (@Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Default Quantity</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                    <td>@Model.DefaultQuantity</td>
                    <td><img src="@Model.ImageSource" alt="" style="width: 100px; height: 100px"></td>
                </tr>
            </tbody>
        </table>
    }

    @if (ViewData["Message"] != null)
    {
        <h5 style="color: red">@ViewData["Message"]</h5>
    }
</div>